
@media (min-width: 320px) and (max-width: 768px) {
  
    body {
        
        background-image: url('../img/fundo.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        
    }

    
    
    
    #mapa {
        position: absolute;
        left: -4%;
        top: 70%;
    
    }
    
    
    .area {
        background-color: transparent;
        border-color: #ada2a2;
        border-style: groove;
    }
    
    .land {
        width: 284px;
        height: 215px;
        padding: 0px 12px 0px 0px;
    
    }
    
    h2,
    h3 {
        font-family: 'Open Sans', sans-serif;
    }
    
    
    .explicacao {
        font-size: 5px;
    }
    
    .chainSize {
        color: rgb(167, 161, 161);
    }
    
    ul {
        display: grid;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 0em;
        margin-inline-start: 9px;
        margin-inline-end: 0px;
        padding-inline-start: 8px;
        gap: 22px;
    }
    
    .label {
        width: 63px;
        border-radius: 5px;
        text-align: center;
        font-size: 13px;
        background-color: #c62367;
    }
    
    .moedaTamanho {
        display: inline-grid;
        grid-template-columns: 0.3fr 3.5fr;
        grid-template-rows: repeat(1, 1fr);
        grid-gap: 2px;
    }
    
    .button-popup {
        background-color: #333333;
        border: none;
        border-radius: 5px;
    }
    
    .button-popup:hover {
        background-color: #c62367;
    }
    
    .close-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }
    
    
    button {
        width: 30px;
        height: 30px;
        border-radius: 20px;
        background-color: #292929;
        position: absolute;
        top: 10px;
        left: 297px;
    }
    
    
    span {
        margin: 0 auto;
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
    }
    
    a {
        text-decoration: none;
    }
    
    
    .btn {
        padding: 5px;
        color: #fff;
        border-radius: 6px;
        background: transparent;
    }
    
    .btn:hover {
        background-color: #c62367;
    }
    
    li {
        color: #c62367;
    }
    
    p {
        color: #fff;
    }
    
    #area1 {
        position: absolute;
        left: 378px;
        top: 483px;
        width: 57px;
        height: 42px;
    }
    
    
    #area2 {
        position: absolute;
        left: 587px;
        top: 483px;
        width: 29px;
        height: 42px;
    }
    
    #area3 {
        position: absolute;
        left: 452px;
        top: 483px;
        width: 119px;
        height: 42px;
    }
    
    #area4 {
        position: absolute;
        left: 299px;
        top: 483px;
        width: 64px;
        height: 41px;
    }
    
    #area5 {
        position: absolute;
        left: 303px;
        top: 543px;
        width: 57px;
        height: 25px;
    }
    
    #area6 {
    
        position: absolute;
        left: 378px;
        top: 542px;
        width: 57px;
        height: 26px;
    
    }
    
    #area7 {
        position: absolute;
        left: 452px;
        top: 542px;
        width: 119px;
        height: 25px;
    }
    
    #area8 {
        position: absolute;
        left: 452px;
        top: 368px;
        width: 119px;
        height: 95px;
    }
    
    
    #area9 {
        position: absolute;
        left: 378px;
        top: 368px;
        width: 57px;
        height: 95px;
    }
    
    
    #area10 {
        position: absolute;
        left: 298px;
        top: 368px;
        width: 65px;
        height: 95px;
    }
    
    #area11 {
        position: absolute;
        left: 202px;
        top: 369px;
        width: 82px;
        height: 95px;
    }
    
    #area12 {
        position: absolute;
        left: 202px;
        top: 254px;
        width: 82px;
        height: 97px;
    }
    
    #area13 {
        position: absolute;
        left: 298px;
        top: 255px;
        width: 65px;
        height: 97px;
    
    }
    
    #area14 {
        position: absolute;
        left: 375px;
        top: 254px;
        width: 61px;
        height: 98px;
    }
    
    #area15 {
        position: absolute;
        left: 452px;
        top: 254px;
        width: 120px;
        height: 98px;
    }
    
    #area16 {
        position: absolute;
        left: 300px;
        top: 209px;
        width: 60px;
        height: 30px;
    }
    
    #area17 {
        position: absolute;
        left: 652px;
        top: 202px;
        width: 38px;
        height: 100px;
    }
    
    .popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: #292929;
        border-radius: 7px;
        box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
        z-index: 1;
        color: white;
    }
  }
  