

#mapa {
    position: absolute;
    left: 25%;
    background-image: ./img/fundo.jpg;
}


.area {
    background-color: transparent;
    border-color: #ada2a2;
    border-style: groove;
}

.HighresScreenshot00010 {
    width: 100%;
    height: 100%;
}

.land {
    width: 284px;
    height: 215px;
    padding: 0px 12px 0px 0px;

}

h2,
h3 {
    font-family: 'Open Sans', sans-serif;
}


.explicacao {
    font-size: 5px;
}

.chainSize {
    color: rgb(167, 161, 161);
}

ul {
    display: grid;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 0em;
    margin-inline-start: 9px;
    margin-inline-end: 0px;
    padding-inline-start: 8px;
    gap: 22px;
}

.label {
    width: 63px;
    border-radius: 5px;
    text-align: center;
    font-size: 13px;
    background-color: #c62367;
}

.moedaTamanho {
    display: inline-grid;
    grid-template-columns: 0.3fr 3.5fr;
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 2px;
}

.button-popup {
    background-color: #333333;
    border: none;
    border-radius: 5px;
  }

.button-popup:hover{
    background-color: #c62367;
}
  
  .close-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
  }
  

button {
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #292929;
    position: absolute;
    top: 10px;
    left: 297px;
}


span {
    margin: 0 auto;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}


.btn {
    padding: 5px;
    color: #fff;
    border-radius: 6px;
    background: transparent;
}

.btn:hover {
    background-color: #c62367;
}

li {
    color: #c62367;
}

p {
    color: #fff;
}

#area1 {
    position: absolute;
    left: 384px;
    top: 490px;
    width: 60px;
    height: 41px;
}


#area2 {
    position: absolute;
    left: 595px;
    top: 489px;
    width: 30px;
    height: 44px;
}

#area3 {
    position: absolute;
    left: 458px;
    top: 489px;
    width: 120px;
    height: 47px;
}

#area4 {
    position: absolute;
    left: 306px;
    top: 489px;
    width: 60px;
    height: 45px;
}

#area5 {
    position: absolute;
    left: 308px;
    top: 550px;
    width: 57px;
    height: 25px;
}

#area6 {
    position: absolute;
    left: 385px;
    top: 550px;
    width: 57px;
    height: 24px;
}

#area7 {
    position: absolute;
    left: 459px;
    top: 549px;
    width: 119px;
    height: 25px;
}

#area8 {
    position: absolute;
    left: 460px;
    top: 374px;
    width: 119px;
    height: 100px;
}


#area9 {
    position: absolute;
    left: 382px;
    top: 375px;
    width: 63px;
    height: 100px;
}


#area10 {
    position: absolute;
    left: 305px;
    top: 378px;
    width: 65px;
    height: 95px;
}

#area11 {
    position: absolute;
    left: 205px;
    top: 372px;
    width: 82px;
    height: 95px;
}

#area12 {
    position: absolute;
    left: 209px;
    top: 262px;
    width: 82px;
    height: 97px;
}

#area13 {
    position: absolute;
    left: 304px;
    top: 263px;
    width: 68px;
    height: 97px;

}

#area14 {
    position: absolute;
    left: 383px;
    top: 261px;
    width: 62px;
    height: 97px;
}

#area15 {
    position: absolute;
    left: 457px;
    top: 262px;
    width: 125px;
    height: 97px;
}

#area16 {
    position: absolute;
    left: 306px;
    top: 214px;
    width: 60px;
    height: 30px;
}

#area17 {
    position: absolute;
    left: 660px;
    top: 211px;
    width: 38px;
    height: 100px;
}

.popup {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #292929;
    border-radius: 7px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    color: white;
}